.sidebar {
    min-height: 100vh;
    border-right: 2px solid var(--verde-pasto);
  }
  
  .sidebar .nav-link {
    color: var(--verde-oscuro);
    font-weight: bold;
    padding: 10px 20px;
  }
  
  .sidebar .nav-link.active,
  .sidebar .nav-link:hover {
    background-color: var(--verde-pasto);
    color: white;
    border-radius: 5px;
  }

  /* Estilo para el contenido dinámico */
#panel-content {
  transition: all 0.3s ease;
}

#contenido-inicial {
  text-align: center;
}

/* Botón de Volver atrás */
#btnVolver {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
  display: none;
}

@media (max-width: 768px) {
  .custom-offcanvas {
    width: 100vw;
    max-width: 100vw;
  }
}
  
  