/* detalle-producto.css */

body {
    background-color: #f9f9f9;
  }
  
  main img {
    max-height: 350px;
    object-fit: contain;
  }
  
  .fs-4 {
    font-size: 1.5rem;
  }
  
  canvas {
    background-color: white;
    border-radius: 5px;
    padding: 1rem;
  }